<!DOCTYPE html>
<html>
    <head>
		<!-- Meta tags Obrigatórias -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   		<!-- Bootstrap CSS -->
  		 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title></title>
		
		<link rel="stylesheet" href="worldprogress-style.css">
		
    </head>
    <body>

	<!--Modal - Progress Pages-->	
	
							<!--Modal: World Progress-->
							<div class="modal fade" id="modaltalking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div class="modal-dialog modal-lg" role="document">

											<!--Content-->
											<div class="modal-content">

											  <!--Body-->
											  <div class="modal-body">

												<div class="embed-responsive embed-responsive-1by1 z-depth-1-half">
												  <iframe class="embed-responsive-item" src="pageplaces/talking.html" ></iframe>
												</div>

											  </div>

											</div>
											<!--/.Content-->
											  <!--Footer-->
											  <div class="close">
												<div class="modal-footer justify-content-center">
												  <a href="#" type="button" data-dismiss="modal"><img alt="" src="img/close.png">
												  </a>
												</div>
											  </div>
										  </div>
							</div>
							<!--Modal: World Progress-->
		
		
		<div  class="map">
			<img src="../../img/world.png" width="1812px" height="2620px" alt="worldmap" usemap="#worldmap">
				<map name="worldmap">
						<div  class="talking">
							<div class="map-x-pin" style="top: 150px; left: 120px;"></div>
							<area shape="poly" coords="30,2485,60,2400,95,2370,155,2360,170,2375,236,2470,352,2508,410,2563,410,2578,306,2610,190,2619,115,2619,45,2562" alt="talking" href="#" data-toggle="modal" data-target="#modaltalking"><span>Talking Island</span>
						</div>
				</map>
		</div>
		
	<!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>