<!DOCTYPE html>
<html>
    <head>
        <title></title>
		
		<link rel="stylesheet" href="../../css/pages-style.css">
		
    </head>
    <body>
		<section class="content-section">
        <div class="section-heading">
			<h1>WORLD CREA<em>TION</em> / EFFECTS (S<em>FX</em>, V<em>FX</em>) / CONT<em>ENT</em></h1>
		</div>
		<div class="section-text">
			Filling the world, building levels, fitting formats and filling content.
		</div>
		<div>
			<table class="table">
			  <tr>
				<th colspan="3"><h1>CWOTEAM</h1></th>
			  </tr>
			  <tr>
				<td width="150px"><img src="imgs/teamalf.png"></td>
				<td>Only the members of the CWOTeam clan (+9) (at will) can work directly with a client’s project. They are all the main testers. These are all friends in the "real" for many years.</td>
				<td width="150px"></td>
			  </tr>
			</table>
			<table  class="table">
			  <tr>
				<th colspan="3"><h1>MAD00NESS</h1></th>
			  </tr>
			  <tr>
				<td width="150px"></td>
				<td>In addition to coding, he deals with “dead ends” and “impassable” things that Wreaper cannot handle.</td>
				<td width="150px"><img src="imgs/teamalf.png"></td>
			  </tr>
			</table>
			<table class="table">
			  <tr>
				<th colspan="3"><h1>TA3UK</h1></th>
			  </tr>
			  <tr>
				<td width="150px"><img src="imgs/teamalf.png"></td>
				<td>It does not deal directly with the client, however, it provides all possible assistance with hardware and Internet content.</td>
				<td width="150px"></td>
			  </tr>
			</table>
			<table class="table">
			  <tr>
				<th colspan="3"><h1>WINSTON</h1></th>
			  </tr>
			  <tr>
				<td width="150px"></td>
				<td>Makes additional software, helps with filling the world, with combining materials.</td>
				<td width="150px"><img src="imgs/teamalf.png"></td>
			  </tr>
			</table>
			<table class="table">
			  <tr>
				<th colspan="3"><h1>GREENLEACHER</h1></th>
			  </tr>
			  <tr>
				<td width="150px"><img src="imgs/teamalf.png"></td>
				<td>Helps with the filling of the world, with the union of materials. Our last line of defense kicks Winston and demoralizes opponents.</td>
				<td width="150px"></td>
			  </tr>
			</table>
			<table class="table">
			  <tr>
				<th colspan="3"><h1>ALF</h1></th>
			  </tr>
			  <tr>
				<td width="150px"></td>
				<td>Engaged in assignment.</td>
				<td width="150px"><img src="imgs/teamalf.png"></td>
			  </tr>
			</table>
			<table class="table">
			  <tr>
				<th colspan="3"><h1>WREAPER</h1></th>
			  </tr>
			  <tr>
				<td width="150px"><img src="imgs/teamalf.png"></td>
				<td>He is engaged in everything that will turn up handy from combining textures, painting grass, to level design. The orchestra man.</td>
				<td width="150px"></td>
			  </tr>
			</table>
		</div>
	</section>			
    </body>
</html>