<!DOCTYPE html>
<html>
    <head>
        <title></title>
		
		<link rel="stylesheet" href="../../css/pages-style.css">
		
    </head>
    <body>
		<section class="content-section">
        <div class="section-heading">
			<h1>CO<em>DERS</em></h1>
		</div>
		<div class="section-text">
			The people responsible for the kernel code, logic, GUI and other technical delights of the client, as well the creation of special software.
		</div>
		<div>
			<table class="table">
			  <tr>
				<th colspan="3"><h1>MAD00NESS</h1></th>
			  </tr>
			  <tr>
				<td width="150px"><img src="imgs/teamalf.png"></td>
				<td>The person with whom the sober idea came to start the Lu4 project for training and understanding the structure of IMO. Works on the core and logic of the client, as well as the client-server part and the assembly of the GUI.</td>
				<td width="150px"></td>
			  </tr>
			</table>
			<table  class="table">
			  <tr>
				<th colspan="3"><h1>INCREDIBRU</h1></th>
			  </tr>
			  <tr>
				<td width="150px"></td>
				<td>A person who works on the development of display, parser and working GUI logic.</td>
				<td width="150px"><img src="imgs/teamalf.png"></td>
			  </tr>
			</table>
			<table class="table">
			  <tr>
				<th colspan="3"><h1>WINSTON</h1></th>
			  </tr>
			  <tr>
				<td width="150px"><img src="imgs/teamalf.png"></td>
				<td>And the drunken idea went from that person to start recycling the old client in a new way ... He also took part and created special software, such as Lu4Importer for the project.</td>
				<td width="150px"></td>
			  </tr>
			</table>	
		</div>
	</section>			
    </body>
</html>