<!DOCTYPE html>
<html>
    <head>
        <title></title>
		
		<link rel="stylesheet" href="../../css/pages-style.css">
		
    </head>
    <body>
		<section class="content-section">
        <div class="section-heading">
			<h1>2D <em>DESIGNERS</em></h1>
		</div>
		<div class="section-text">
			Logos, design, GUI design, website and more.
		</div>
		<div>
			<table class="table">
			  <tr>
				<th colspan="3"><h1>SERGEY TSAREGORODCEV</h1></th>
			  </tr>
			  <tr>
				<td width="150px"><img src="imgs/teamalf.png"></td>
				<td>Responsible for the logos, branding and general direction of the surroundings of the project.</td>
				<td width="150px"></td>
			  </tr>
			</table>
			<table  class="table">
			  <tr>
				<th colspan="3"><h1>FRIENDDESIGN &amp; ELVENYORGE</h1></th>
			  </tr>
			  <tr>
				<td width="150px"></td>
				<td>Creator of the visual part of the GUI, website design and a number of videos on working with the design.</td>
				<td width="150px"><img src="imgs/teamalf.png"></td>
			  </tr>
			</table>
			<table class="table">
			  <tr>
				<th colspan="3"><h1>HORYON</h1></th>
			  </tr>
			  <tr>
				<td width="150px"><img src="imgs/horyon.png"></td>
				<td>Brazil Support Unit, Translation and Project Support in South America.</td>
				<td width="150px"></td>
			  </tr>
			</table>	
		</div>
	</section>			
    </body>
</html>