<!DOCTYPE html>
<html>
    <head>
        <title></title>
		
		<link rel="stylesheet" href="../../css/pages-style.css">
		
    </head>
    <body>
		<section class="content-section">
        <div class="section-heading">
			<h1>INTERNET CONTENT AND AR<em>TICLES</em></h1>
		</div>
		<div class="section-text">
			The people who help to share our work.
		</div>
		<div>
			<table class="table">
			  <tr>
				<th colspan="3"><h1>TA3UK</h1></th>
			  </tr>
			  <tr>
				<td width="150px"><img src="imgs/teamalf.png"></td>
				<td>It helps with the site, hardware, server, the logic of building public relations through the use of Internet technologies of various kinds.</td>
				<td width="150px"></td>
			  </tr>
			</table>
			<table  class="table">
			  <tr>
				<th colspan="3"><h1>HELLEVRO</h1></th>
			  </tr>
			  <tr>
				<td width="150px"></td>
				<td>Engaged in customizing and modifying the server.</td>
				<td width="150px"><img src="imgs/teamalf.png"></td>
			  </tr>
			</table>
			<table class="table">
			  <tr>
				<th colspan="3"><h1>WREAPER AND ALF</h1></th>
			  </tr>
			  <tr>
				<td width="150px"><img src="imgs/teamalf.png"></td>
				<td>Search for people, lead groups, create Internet content, conduct streams.</td>
				<td width="150px"></td>
			  </tr>
			</table>
			<table  class="table">
			  <tr>
				<th colspan="3"><h1>CWOTEAM AND LOMELINDES (S)</h1></th>
			  </tr>
			  <tr>
				<td width="150px"></td>
				<td>Clans, which are the foundation of a group of testers and people supporting us. Gbh, PTYTb, Adeon, U6parum, Vadusai, Laikvendi (LAIG), Shock, Nut, Check, Karantin, Axela and the main composition of Lomelindess (all periods).</td>
				<td width="150px"><img src="imgs/teamalf.png"></td>
			  </tr>
			</table>	
		</div>
	</section>			
    </body>
</html>