
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Lu4 Project - Unreal Engine 4 Client</title>
        
<!-- 

Sentra Template

https://templatemo.com/tm-518-sentra

-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/light-box.css">
        <link rel="stylesheet" href="css/owl-carousel.css">
        <link rel="stylesheet" href="css/templatemo-style.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
		
		<style>
			
			.close {
			  position: relative;
			  width: 50%;
			  transition: 0.5s ease;
			}

        </style>
    </head>

<body style="overflow-x: hidden;" scrolling="no">
  <div id="posts">
							
	<!--Modal - Project Pages-->
							<!--Modal: The Project-->
							<div class="modal fade" id="modaltheproject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div class="modal-dialog" role="document" style="width: 70%">

											<!--Content-->
											<div class="modal-content">

											  <!--Body-->
											  <div class="modal-body">

												<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
												  <iframe class="embed-responsive-item" src="pages/project/theproject.html"></iframe>
												</div>

											  </div>

											</div>
											<!--/.Content-->
											  <!--Footer-->
											  <div class="close">
												<div class="modal-footer justify-content-center">
												  <a href="#" type="button" data-dismiss="modal"><img alt="" src="img/close.png">
												  </a>
												</div>
											  </div>
										  </div>
							</div>
							<!--Modal: The Project-->

							<!--Modal: The Goals-->
							<div class="modal fade" id="modalthegoals" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div class="modal-dialog" role="document" style="width: 70%">

											<!--Content-->
											<div class="modal-content">

											  <!--Body-->
											  <div class="modal-body">

												<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
												  <iframe class="embed-responsive-item" src="pages/project/thegoals.html"></iframe>
												</div>

											  </div>

											</div>
											<!--/.Content-->
											  <!--Footer-->
											  <div class="close">
												<div class="modal-footer justify-content-center">
												  <a href="#" type="button" data-dismiss="modal"><img alt="" src="img/close.png">
												  </a>
												</div>
											  </div>
										  </div>
							</div>
							<!--Modal: The Goals-->
	
	
	
	<!--Modal - Our Team Pages-->	
	
							<!--Modal: Designers3D-->
							<div class="modal fade" id="modaldesigners3d" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div class="modal-dialog" role="document" style="width: 70%">

											<!--Content-->
											<div class="modal-content">

											  <!--Body-->
											  <div class="modal-body">

												<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
												  <iframe class="embed-responsive-item" src="pages/team/designers3d.html"></iframe>
												</div>

											  </div>

											</div>
											<!--/.Content-->
											  <!--Footer-->
											  <div class="close">
												<div class="modal-footer justify-content-center">
												  <a href="#" type="button" data-dismiss="modal"><img alt="" src="img/close.png">
												  </a>
												</div>
											  </div>
										  </div>
							</div>
							<!--Modal: Designers3D-->

	
							<!--Modal: Coders-->
							<div class="modal fade" id="modalcoders" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div class="modal-dialog" role="document" style="width: 70%">

											<!--Content-->
											<div class="modal-content">

											  <!--Body-->
											  <div class="modal-body">

												<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
												  <iframe class="embed-responsive-item" src="pages/team/coders.html"></iframe>
												</div>

											  </div>

											</div>
											<!--/.Content-->
											  <!--Footer-->
											  <div class="close">
												<div class="modal-footer justify-content-center">
												  <a href="#" type="button" data-dismiss="modal"><img alt="" src="img/close.png">
												  </a>
												</div>
											  </div>
										  </div>
							</div>
							<!--Modal: Coders-->
	
	
							<!--Modal: Designers2D-->
							<div class="modal fade" id="modaldesigners2d" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div class="modal-dialog" role="document" style="width: 70%">

											<!--Content-->
											<div class="modal-content">

											  <!--Body-->
											  <div class="modal-body">

												<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
												  <iframe class="embed-responsive-item" src="pages/team/designers2d.html"></iframe>
												</div>

											  </div>

											</div>
											<!--/.Content-->
											  <!--Footer-->
											  <div class="close">
												<div class="modal-footer justify-content-center">
												  <a href="#" type="button" data-dismiss="modal"><img alt="" src="img/close.png">
												  </a>
												</div>
											  </div>
										  </div>
							</div>
							<!--Modal: Designers2D-->

	
							<!--Modal: BigContent SFX VFX ETC-->
							<div class="modal fade" id="modalbigcontent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div class="modal-dialog" role="document" style="width: 70%">

											<!--Content-->
											<div class="modal-content">

											  <!--Body-->
											  <div class="modal-body">

												<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
												  <iframe class="embed-responsive-item" src="pages/team/bigcontent.html"></iframe>
												</div>

											  </div>

											</div>
											<!--/.Content-->
											  <!--Footer-->
											  <div class="close">
												<div class="modal-footer justify-content-center">
												  <a href="#" type="button" data-dismiss="modal"><img alt="" src="img/close.png">
												  </a>
												</div>
											  </div>
										  </div>
							</div>
							<!--Modal: BigContent SFX VFX ETC-->

	
							<!--Modal: Internet Work and Articles-->
							<div class="modal fade" id="modalinternet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div class="modal-dialog" role="document" style="width: 70%">

											<!--Content-->
											<div class="modal-content">

											  <!--Body-->
											  <div class="modal-body">

												<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
												  <iframe class="embed-responsive-item" src="pages/team/internet.html"></iframe>
												</div>

											  </div>

											</div>
											<!--/.Content-->
											  <!--Footer-->
											  <div class="close">
												<div class="modal-footer justify-content-center">
												  <a href="#" type="button" data-dismiss="modal"><img alt="" src="img/close.png">
												  </a>
												</div>
											  </div>
										  </div>
							</div>
							<!--Modal: Internet Work and Articles-->	
	
	<!--Modal - Progress Pages-->	
	
							<!--Modal: World Progress-->
							<div class="modal fade" id="modalworldprogress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										  <div class="modal-dialog" role="document" style="width: 78%">

											<!--Content-->
											<div class="modal-content">

											  <!--Body-->
											  <div class="modal-body">

												<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
												  <iframe class="embed-responsive-item" src="pages/progress/progress.html"></iframe>
												</div>

											  </div>

											</div>
											<!--/.Content-->
											  <!--Footer-->
											  <div class="close">
												<div class="modal-footer justify-content-center">
												  <a href="#" type="button" data-dismiss="modal"><img alt="" src="img/close.png">
												  </a>
												</div>
											  </div>
										  </div>
							</div>
							<!--Modal: World Progress-->

	
        <header class="nav-down responsive-nav hidden-lg hidden-md">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <nav>
                    <ul class="nav navbar-nav">
                        <li><a href="#top">Home</a></li>
                        <li><a href="#project">Project</a></li>
                        <li><a href="#team">Our Team</a></li>
						<li><a href="#progress">Progress</a></li>
                        <li><a href="#blog">Latest News</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
                <a href="#"><img alt="" src="img/logo2.png"></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#top">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#project">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Project
                        </a>
                    </li>
                    <li>
                        <a href="#team">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Our Team
                        </a>
					</li>
					<li>
                        <a href="#progress">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Progress
                        </a>
					</li>
                    <li>
                        <a href="#blog">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Latest News
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Contact Us
						</a>
                    </li>
                </ul>
            </nav>
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/groups/Lu4CWOTeam/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/user/TheWreaperlomelindes" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://discord.gg/be37X5V" target="_blank"><img src="img/discord.png" style="width: 21px; height: 21px" ></a></li>
                <li><a href="https://vk.com/lu4cwo" target="_blank"><img src="img/vk.png" style="width: 21px; height: 21px" ></a></li>
                <li><a href="https://www.patreon.com/LU4" target="_blank"><img src="img/patreon.png" style="width: 21px; height: 21px" ></a></li>
            </ul>
        </div>
        <div class="slider">
            <div class="Modern-Slider content-section" id="top">
                <!-- Item -->
                <div class="item item-1">
                    <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                          <h1>What are we doing?</h1>
                          <p>Detailed information about our project.<br>
                          	Schedule, goals, workflow, and everything you need to know.</p>
                          <div class="white-button button">
                              <a href="#project">Discover More</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-2">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1>Meet our team</h1>
                          <p>The CWO and everyone else involved.</p> 
							
                          <div class="white-button button">
                              <a href="#team">Know Us</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-3">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1>Remake Progress</h1>
                          <p>See how this new world is getting.</p>
                          
                          <div class="white-button button">
                              <a href="#progress">Stay In</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
            </div>
        </div>
        <div class="page-content">
            <section id="project" class="content-section">
                <div class="section-heading">
                    <h1>About<br><em>Project</em></h1>
                    <p>How? Why? If you want to know now is the time, 
                    <br>everything you need to know about, now is here.</p>
                </div>
                <div class="section-content">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="image">
                                <img src="img/featured_1.jpg" alt="">
                                <div class="featured-button button">
                                    <a type="button" href="#" data-toggle="modal" data-target="#modaltheproject">Continue Reading</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>The Project</h4>
                                <span>Birth</span>
                                <p>The main point of this client is for team CWO, to know how to make MMO GAME like L2, knowledge and name, the second is greed...
								if it won't get any greed we will done a modding tool...</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/featured_2.jpg" alt="">
                                <div class="featured-button button">
                                    <a type="button" href="#" data-toggle="modal" data-target="#modalthegoals">Continue Reading</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>The Goals</h4>
                                <span>Direction</span>
                                <p>We are making just a client, we aren't starting any commercial servers. That's why we aint got any problem with that. We arent making any server changes (this is not the target)...</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="img/featured_3.jpg" alt="">
                                <div class="featured-button featured-button2">
                                    <a href="https://www.patreon.com/LU4" target="_blank">Support Page</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Patreon Support</h4>
                                <span>Want help?</span>
                                <p>For the work to continue all the help is welcome, there the news comes sooner, participates in the tests and much more... click and support us.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="team" class="content-section">
                <div class="section-heading">
                    <h1>Our<br><em>Team</em></h1>
                    <p>Meet the collaborators who are in the project, 
                    <br>separated into some groups regarding the contribution.</p>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <div class="item">
                                <div class="col-md-6" align="right">
  									<a type="button" href="#" data-toggle="modal" data-target="#modaldesigners3d"><img src="img/team_1.jpg" alt="image 1"></a>
									<a type="button" href="#" data-toggle="modal" data-target="#modalcoders"><img src="img/team_2.jpg" alt="image 2"></a>
								</div>
							</div>	
							<div class="item second-item">
								<div class="col-md-6" align="left">
									<a type="button" href="#" data-toggle="modal" data-target="#modaldesigners2d"><img src="img/team_3.jpg" alt="image 3"></a>
								</div>
							</div>
							<div class="item">
								<div class="col-md-6" align="right">
									<a type="button" href="#" data-toggle="modal" data-target="#modalbigcontent"><img src="img/team_4.jpg" alt="image 4"></a>
								</div>
							</div>
							<div class="item">
								<div class="col-md-6">
									<a type="button" href="#" data-toggle="modal" data-target="#modalinternet"><img src="img/team_5.jpg" alt="image 5"></a>
								</div>
							</div>					
                        </div>                            
                    </div>
                </div>            
            </section>
			<section id="progress" class="content-section">
                <div class="section-heading">
                    <h1>World <br><em>Progress</em></h1>
                    <p>Check our world map. And follow our work</p>
                </div>
                <div>
                     <a type="button" href="#" data-toggle="modal" data-target="#modalworldprogress"><img src="img/worldprev.png" alt="image 1" style="width: 100%"></a>
				</div>                          
            </section>
            <section id="blog" class="content-section">
                <div class="section-heading">
                    <h1>Lastest<br><em>News</em></h1>
                    <p>The important content you can find here about our updates
                    <br>For each news, please follow our media. </p>
                </div>
                <div class="section-content">
                    <div class="tabs-content">
                        <div class="wrapper">
                            <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                              <li><a href="#tab1" class="active">Lastest {{posts.length}} Posts</a></li>
                            </ul>
                            <section id="first-tab-group" class="tabgroup" align="left">
                                <div id="tab1">
                                    <ul v-for="post in posts" :key="post.id">
                                        <li>
                                            <div class="item">
                                                <img style="width: 400px;" :src="post.jetpack_featured_media_url" alt="">
                                                <div class="text-content">
                                                    <h4><div v-html="post.title.rendered"></div></h4>
                                                    <span>{{post.date}}</span>
                                                    <div v-html="post.excerpt.rendered"></div>
                                                    <div class="accent-button button">
                                                        <a :href="post.link">Continue Reading</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
		                            </ul>
                                </div>
                            </section> 
                        </div>
                    </div>
                </div>
            </section>
            <section id="contact" class="content-section">
                <div id="map">
                
                	<!-- How to change your own map point
                           1. Go to Google Maps
                           2. Click on your location point
                           3. Click "Share" and choose "Embed map" tab
                           4. Copy only URL and paste it within the src="" field below
                    -->
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d577325.3464971659!2d36.82513809290737!3d55.58152447403445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2sMoscovo%2C+R%C3%BAssia!5e0!3m2!1spt-BR!2sbr!4v1565678393106!5m2!1spt-BR!2sbr" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div id="contact-content">
                    <div class="section-heading">
                        <h1>Contact<br><em>Team CWO</em></h1>
                        <p>For contact us send a message or enter 
                        <br>in the Facebook or Discord groups.</p>
                        
                    </div>
                    <div class="section-content">
                        <form id="contactus" action="#" method="post">
                            <div class="row">
                                <div class="col-md-4">
                                  <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-4">
                                  <fieldset>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                                  </fieldset>
                                </div>
                                 <div class="col-md-4">
                                  <fieldset>
                                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject..." required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                                  </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
            <section class="footer">
                <p>Copyright &copy; 2019 Team CWO - America 
                    and modified by <a href="https://facebook.com/ocaradepau">Lucas Leandro</a>
                . Design: TemplateMo</p>
            </section>
        </div>

    <script>
        new Vue({
            el: '#posts',
            mounted() {
            this.getPosts();
        },

        data() {
            return {
                postsUrl: 'https://omassivo.com.br/omassivo/wp-json/wp/v2/posts',
                posts: [],
                postsData: {
                    per_page: 6,
                    page: 1
                },

            }
        },
        methods: {
            getPosts() {
              axios.get(this.postsUrl, {params: this.postsData})
                     .then((response) => {
                        this.posts = response.data;
                        this.configPagination(response.headers);
                    })
                    .catch( (error) => {
                        console.log(error);
                    });
            },
        }
    })
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>
    
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <script>
        // Hide Header on on scroll down
        var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = $('header').outerHeight();

        $(window).scroll(function(event){
            didScroll = true;
        });

        setInterval(function() {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(this).scrollTop();
            
            // Make sure they scroll more than delta
            if(Math.abs(lastScrollTop - st) <= delta)
                return;
            
            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight){
                // Scroll Down
                $('header').removeClass('nav-down').addClass('nav-up');
            } else {
                // Scroll Up
                if(st + $(window).height() < $(document).height()) {
                    $('header').removeClass('nav-up').addClass('nav-down');
                }
            }
            
            lastScrollTop = st;
        }
    </script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>

</body>
</html>