<!DOCTYPE html>
<html>
    <head>
        <title></title>
		
		<link rel="stylesheet" href="../../css/goals.css">
		
    </head>
    <body>
		<section class="content-section">
				<div class="section-heading">
					<h1>THE GOA<em>LS</em></h1>
				</div>
				<div>
					<h1>THE DESIRE TO KNOW AND LEARN</h1>
				</div>
				<div class="section-textleft">
					Some time ago we were developing a couple of projects. We froze them, because stuck on a failure to understand how full-fledged MMO games are made. And somehow, at one of the gatherings, we thought about creating something similar to what we already have, and decided to walk in the footsteps of a once-project that could then be assigned the rank of AAA. Understand how the MMO system as a whole works and what it goes for. We want to know this in order to continue our old project.<br>
				</div>
				<div>
					<h1>WORLDVIEW CHANGE</h1>
				</div>
				<div class="section-textleft">
					Not a single game made it possible to spend time with interest, without dullness and without development (for us). There is no sandbox in which one could be as creative as in Unreal Engine 4. And at a certain stage it is the creative (albeit not very good) that saves people.<br>
				</div>
				<div>
					<h1>FOLLOWERS AND SYMPATHIZERS</h1>
				</div>
				<div class="section-textleft">
					It is you who are implementing this project, helping to understand what is wrong and “word of mouth” promoting the project, showing indifference to everything created. All of you are involved in the implementation of the project. We enlisted the support of the general public, among them Maks Zarya, Dryante and a number of others, which I can’t name yet.<br>
				</div>
				<div>
					<h1>UNIFICATION IN DEPTH</h1>
				</div>
				<div class="section-textleft">
					The client should work in different conditions with good performance, in particular in terms of performance - from fairly old machines (of course, not a 15-year-old assembly), to new mutants. Of course, such a scatter provides a serious framework for creation.<br>
				</div>
				<div>
					<h1>UNIFICATION IN BREADTH</h1>
				</div>
				<div class="section-textleft">
					The project in the future should be launched natively on the Vulcan API (when it is completed) and on the Metal API, which will allow it to be used in various OSs and increase productivity.<br>
				</div>
				<div>
					<h1>UNIFICATION AROUND</h1>
				</div>
				<div class="section-textleft">
					There is not only the l2j basis, there are also a number of self-written server projects that could be connected through the “connector” we are developing without much effort and with coordination with the server administration.<br>
				</div>
				<div>
					<h1>UNIFICATION INSIDE</h1>
				</div>
				<div class="section-textleft">
					The project should be able to change all the content in itself, so that it can be used both for shooting videos about space marines and for self-realization.<br>
				</div>
				<div>
					<h1>UNIFICATION OPTIMIZATION</h1>
				</div>
				<div class="section-textleft">
					This phrase has a deeper character than just "the author’s nonsense," Unreal Engine does not stand still, iron does not stand still, and this ecosystem allows you to be flexible.<br>
				</div>
				<div>
					<h1>EVENTUALLY</h1>
				</div>
				<div class="section-textleft">
					We thought that it was necessary to develop in this direction and find like-minded people who, in the event of any breakthrough, should be dragged along to the depths of the game dev.<br>
				</div>
		</section>
    </body>
</html>