<!DOCTYPE html>
<html>
    <head>
        <title></title>
		
		<link rel="stylesheet" href="../../css/project.css">
		
    </head>
    <body>
		<section class="content-section">
				<div class="section-heading">
					<h1>THE PROJ<em>ECT</em></h1>
				</div>
				<div>
					<h1>WHAT IS LU4?</h1>
				</div>
				<div class="section-textleft">
					The project of a unified free client (connector / adapter) for l2j servers on the Unreal engine 4, which is created by the Team CWO and empathy people on a voluntary basis.<br>
				</div>
				<div>
					<h1>WHERE AM I?</h1>
				</div>
				<div class="section-textleft">
					The answer is very simple - this is site of this project. Any issues that may happen will be registered and will feed actual updates on this project where this client will work.<br>
				</div>
				<div>
					<h1>WHAT'S HAPPENING?</h1>
				</div>
				<div class="section-textleft">
					A group of people, for several reasons, has been developing this project for quite a long time and we have something to show.<br>
				</div>
				<div>
					<h1>WHY L2J?</h1>
				</div>
				<div class="section-textleft">
					Ease of finding source and production servers on the Internet, for simple writing of the main component that interests the team.<br>
				</div>
				<div>
					<h1>BOREDOM</h1>
				</div>
				<div class="section-textleft">
					We are a small group of enthusiasts who have already lived marriage / devnull, with children / without, with beards or maybe not much, with standard day work ... all around the country / countries / city, all holding hands in mournful moments and missing evenings in VKontakte(HERE IS OLD!) in the kitchen (health would not be enough), and now there is no time to be bored...<br>
				</div>
				<div>
					<h1>MODERN GAMES</h1>
				</div>
				<div class="section-textleft">
					The fact is that no matter how many games they make, they cannot give out something new. It doesn’t matter wich graphics are there, no matter how popular they are, they quickly bother us. A lot of money wasted and no fun at all. And only occasionally do some unique projects come out that somehow try to break out. And we are no longer children who does not care what and how much to play. We are not chasing "...". Therefore, in 90 % of the games that come out get us bored by playing it very quickly.<br>
				</div>

				<div>
					<h1>ENTHUSIASM</h1>
				</div>
				<div class="section-textleft">
					In view of these prerequisites, our enthusiasm has a very high threshold, of course we would like both money and fame, but so far we have little knowledge for this, so we are sawing as much as we can. Therefore, we learn, remember and work with great zeal.<br>
				</div>
				<div>
					<h1>KNOWLEDGE OF RELATED AREAS</h1>
				</div>
				<div class="section-textleft">
					Each of us has some specific knowledge in our field, someone is a proger, someone is a designer, someone is studying, and someone is a professional boob ... But where would it be without him?<br>
				</div>
				<div>
					<h1>UNREAL ENGINE 4</h1>
				</div>
				<div class="section-textleft">
					A phenomenal engine, complex, full of surprises. Our journey began with the earliest versions of this engine and the emergence of the community, which we are extremely happy about. High-torque rendering, pulls out the last 5 fps by all means, if losing from 75 to 30 FPS is not so difficult, then to lose the last 30 fps you need to surrender to the gypsy camp several times. The rest is already on the crooked hands of the developers (tobish us). Possibility of PBR texturing, fully dynamic lighting with shadows and highlights, multithreading for the main actions (although the main skeleton still works in a single thread, this is necessary for debugging). There are also many convenient and good tools for working on a project of any complexity.<br>
				</div>
				<div>
					<h1>CREATING YOUR OWN SOFTWARE</h1>
				</div>
				<div class="section-textleft">
					We create our own software, understand the UE4 device, finish plug-ins there, make Stand alone software, such as Lu4 Importer, which helps us work and periodically saves our skins.<br>
				</div>
		</section>			
    </body>
</html>